body{
    background-color: darkgray;
}
div{
    padding: 0px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6%;
}
.calculator{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 30vw;
}
.output{
    display: flex;
    justify-content: right;
    width: 30vw;
    height: 10vh;
    border-radius: 2px;
    background-color: antiquewhite;
}
.input{
    display:flex;
    height: 60vh;
    border-radius: 2px;
   
}
.numButtonsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex:1;
}
.numButtons{
    display: grid;
    border-style: solid;
    background-color: gray;
}
.operators{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    border-style: solid;
    background-color: bisque;
   
}
.operatorsGrid{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    background-color: bisque;
    width:7vw;
}
#zeroBtn{
    grid-column-start: 1;
    grid-column-end: 3;
}
#divide{
    grid-column-start: 2;
    background-color: bisque;
}
#multiply{
    background-color: bisque;
}
#clearBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    width: 80vw;
    height: 6vh;
    border-radius: 2px;
    background-color: rgb(51, 43, 43);
}